/* Import nerdfonts */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Universal style*/
body{
  background: #1d2021;
  color: #fbf1c7;
  font-family: "Source Code Pro", monospace;
}

.image img {
  border-radius: 50%;
  box-shadow: 0px 0px 1vh 0.5vh #ebdbb2;
}

.c2 h2 {
  word-wrap: break-word;
}

.c3 a {
  font-size: 7.5vh;
}

a {
  text-decoration: solid;
  color: #fbf1c7;
  transition: color 250ms ease 0s;
}

a:hover {
  color: #488588;
}

.c4 p {
  text-align: justify;
}

.c4 p strong {
  color: #458588;
  font-weight: bolder;
}

.nf-fa-html5 {
  color: #d65d0e;
}

.nf-dev-css3 {
  color: #458588;
}

.nf-dev-javascript_badge {
  color: #d79921;
}

.nf-dev-rust {
  color: #cc241d;
}

.nf-dev-python {
  color: #7c6f64;
}

.plinks a {
  margin: 1vh;
  padding: 0.2vh;
  border-radius: 0.5vh;
  background-color: #7c6f64;
}

/* Mobile Style */
@media screen and (max-width: 768px){

h1 {
  text-align: center;
  margin-top: 0;
}
.caja {
  background: #282828;
  transition: background 250ms ease 0s;
  margin: 1.5vh;
  padding: 5vh;
  border-radius: 3vh;
}

.c1 {
  text-align: center;
  padding-bottom: 1vh;
}

.image img {
  height: 25vh;
  margin: 0;
}

.name h1 {
  font-size: 6vh;
  margin-top: 2vh;
  margin-bottom: 0;
}

.dev h3 {
  color: #458588;
  font-size: 3.5vh;
  margin-top: 0;
}

.c2 h1 {
  margin: 0;
}

.c2 h2 {
  margin: 0;
  text-align: center;
  font-size: 10vh;
}

.c3 {
  text-align: center;
}

.nf {
  margin: 1vh;
}

.c4 p {
  text-indent: 5vw;
  text-align: justify;
  word-wrap: break-word;
  font-size: 5vw;
}

.carousel-button {
  display: none;
}


.project {
  background-color: #504945;
  width: 90%;
  aspect-ratio: 25/9;
  margin-top: 3vw;
  border-radius: 3vw;
  padding-top: 1vh;
  padding-left: 1vw;
}

.project h2 {
  margin: 0;
  margin-left: 1vh;
  font-size: 3vh;
}

/* Color for Web Projects*/
.p1,
.p2 {
  border-left: #d65d0e solid 2vw;
}

/* Color for Rust Projects*/
.p3 {
  border-left: #cc241d solid 2vw;
}

}




/* Computer Style */
@media screen and (min-width: 768px){

.grid-layout{
  display: grid;
  grid-template-columns: 34% 33% 33%;
}

.caja {
  background: #282828;
  transition: background 250ms ease 0s;
  margin: 1.5vh;
  height: 29.5vh;
  border-radius: 3vh;
}

.caja:hover {
  background: #3c3836;
}

.c1 {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto auto;
  padding: 0;
}


.image {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
}

.image img {
  border-radius: 50%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 1vh 0.2vh #ebdbb2;
  transition: box-shadow 250ms ease 0s;
}

.image img:hover {
  box-shadow: 0px 0px 2vh 0.5vh #fbf1c7;
}

.name {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
}

.name h1 {
  font-size: 7vh;
  position: absolute;
  top: 4vh;
  bottom: auto;
}

.dev {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
  color: #458588;
}

.dev h3 {
  font-size: 3.5vh;
  position: absolute;
  bottom: 6vh;
  top: auto;
}

.c2 {
  grid-column: 3/4;
  text-align: center;
}

.c2 h1 {
  font-size: 2.5vw;
  margin-bottom: 0;
}

.c2 h2 {
  font-size: 7vh;
  margin-top: 2vh;
  line-height: 7vh;
}

.nf {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.c3 {
  grid-column: 1/2;
  text-align: center;
}

.c3 h1 {
  font-size: 5vh;
}



.c4 {
  grid-column: 2/4;
}

.c4 h1{
  margin-top: 3vh;
  margin-bottom: 0;
  text-align: center;
  font-size: 5vh;
}

.c4 p {
  margin-top: auto;
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  text-indent: 10vh;
  font-size: 1.7vw;
}

.c5 {
  grid-column: 1/4;
}

.c5 h1{
  text-align: center;
  font-size: 5vh;
}

.pcontainer {
  margin: auto;
  overflow: hidden;
  position: relative;
}

.pslide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project {
  background-color: #504945;
  width: 15vw;
  aspect-ratio: 25/9;
  margin-left: 3vw;
  border-radius: 1vw;
  padding-top: 1vh;
  padding-left: 1vw;
}

.project h2 {
  margin: 0;
  margin-left: 1vh;
  font-size: 3vh;
}

.plinks {
  display: flex;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  color: #fbf1c7;
  font-size: 3vh;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* Color for Web Projects*/
.p1,
.p2 {
  border-left: #d65d0e solid 0.5vw;
}

/* Color for Rust Projects*/
.p3 {
  border-left: #cc241d solid 0.5vw;
}

}