/* Import nerdfonts */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


body {
  background-color: #1d2021;
  font-family: "Source Code Pro", monospace;
}

.flex-container{
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}


.caja {
  background-color: #282828;
  color: #fbf1c7;
  font-weight: bold;
  width: 500px;
  height: 200px;
  text-align: center;
  margin: 10px;
  padding: 2px;
  border-radius: 25px;
  transition: background-color 0.5s;
}

.caja:hover {
  background-color: #3c3836;
}

.c1 {
  flex-grow: 5; 
  min-width: 250px;
  position: relative;
}

.c1 h2 {
  color: #fbf1c7;
  font-size: 50px;
  position: absolute;
  top: 20px;
  left: 200px;
  text-align: center;
  transition: color 0.2s;
}

.c1 p {
  color: #458588;
  position: absolute;
  font-size: 25px;
  top: 100px;
  left: 191px;
  padding: 10px;
  margin: 0;
  z-index: 1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #83a598;
}

.languages {
  position: absolute;
  top: 120px;
  left: 191px;
}

.Avatar {
  width:150px;
  border-radius:50%;
  box-shadow: 0 0 10px #d5c4a1;
  transition: box-shadow 0.2s;
  margin: 25px;
  float: left;
}

.Avatar:hover {
  box-shadow: 0 0 15px #fbf1c7;

}

.c2 {
  flex-grow: 1;
  min-width: 50px;
  background-color: #1d2021;
}

.c2:hover {
  background-color: #282828;
}

.nf {
  font-size: 65px;
  margin: 5px;
}

.nf-fa-html5 {
  color: orange;
}

.nf-dev-css3 {
  color: blue;
}

.nf-dev-javascript_badge {
  color: yellow;
}

.nf-dev-react {
  color: cyan;
}

.nf-dev-rust {
  color: red;
}

.nf-dev-python {
  color: lightblue;
}

.c3 {
  flex-grow: 5;
}

.c3 p {
  text-align: left;
}

.c4 {
 flex-grow: 1;
}

.c5 {
  flex-grow: 6;
}

